/* doodlejump.css */
body {
    text-align: center;
    background-color: beige;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling if banners are positioned absolutely */
}

#board {
    background-image: url("/img2/doodlejumpbg.png");
}

.banner {
    position: absolute;
    overflow: hidden;
}

/* Banner Positions */
.banner-top-left {
    top: 0;
    left: 0;
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
}

.banner-top-right {
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
}

.banner-bottom-left {
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.banner-bottom-right {
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
}

.banner-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 300px; /* Adjust height as needed */
}

.banner-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 300px; /* Adjust height as needed */
}
